.nutui-react-demo {
  height: auto;
}

.lable {
  font-size: 14px;
  color: #666;
  margin-bottom: 10px;
}

.textarea {
  margin-bottom: 10px;

  textarea {
    max-height: 100px;
    font-size: 14px;
  }
}

