.page-hd{
    background-color: var(--nutui-brand-color, #fa2c19);
    display: flex;
    align-items: center;
    color: #fff;
    font-size: 14px;
}

.user-btn{
    font-size: 14px;
    background-color: transparent;
    color: #fff;
}