page {
    background-color: #e8e8e8;
}

.page {
    background-color: #e8e8e8;
    padding-bottom: 15px;
    height: auto;
}

.container {
    padding: 15px;
}

.textarea-no-padding {
    padding: 10px 0px !important;
}

.scroll-x {
    white-space: nowrap
}

.mb {
    margin-bottom: 15px;
}

.mt {
    margin-top: 15px;
}